@import "ui-variables";

.linter-elm-make.fix-type {
  padding-right: @component-padding;
  color: @text-color-info;
}
// Since `Intentions` does not allow specifying HTML, do a workaround here:
.linter-elm-make-fix-intention {
  .linter-elm-make.fix-type;
  display: inline;
  font-size: @font-size;
  font-family: @font-family;
}
.linter-elm-make-fix--replace-with::before {
  .linter-elm-make-fix-intention;
  content: "Replace with:";
}
.linter-elm-make-fix--add-type-annotation::before {
  .linter-elm-make-fix-intention;
  content: "Add type annotation:";
}
.linter-elm-make-fix--remove-unused-import::before {
  .linter-elm-make-fix-intention;
  content: "Remove unused import:";
}
.linter-elm-make-fix--add-import::before {
  .linter-elm-make-fix-intention;
  content: "Add import:";
}
.linter-elm-make.set-main-paths {
  .notes {
    padding: @component-padding;
  }
}
.linter-elm-make-issue {
  background: none;
  border-top: 1px solid rgba(255,255,255,0.2);
}
.linter-elm-make-issue-selected {
  .linter-elm-make-issue;
  background-color: @background-color-highlight;
  border-radius: @component-border-radius;
}
.linter-elm-make-inferred-type-annotation {
  background-color: darken(@base-background-color, 2%);
  color: @text-color-subtle;
  font-style: italic;
}
.linter-elm-make-subregion-error .region {
  // border-bottom: 1px solid @background-color-error;
  background-color: fadeout(@background-color-error, 85%);
}
.linter-elm-make-subregion-warning .region {
  // border-bottom: 1px solid @background-color-warning;
  background-color: fadeout(@background-color-warning, 85%);
}
